{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
Analisis
{% endblock %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">Home</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{% url 'analisis' %}">Analisis <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'recomendaciones' %}">Recomendaciones</a>
</li>
{% endblock %}

{% block content_head %}
<h1>Analisis</h1>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
    <li class="breadcrumb-item active" aria-current="page">Analisis</li>
{% endblock %}

{% block content_body %}

	{% for dominio in dominios %}
		<div class='col-4'>
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Dominio N°{{ dominio.pk }}: {{ dominio.nombre_dominio }} </h5>
					{% if dominio.pk == 1 %}
						<p class="card-text">SAMPLE TEXT</p>
						<a href="{% url 'analisis_uno' request.user.pk %}" class="btn btn-primary">Responder preguntas</a>
					{% elif dominio.pk == 2 %}
						<p class="card-text">SAMPLE TEXT</p>
						<a href="{% url 'analisis_dos' request.user.pk %}" class="btn btn-primary">Responder preguntas</a>
					{% elif dominio.pk == 3 %}
						<p class="card-text">SAMPLE TEXT</p>
						<a href="{% url 'analisis_tres' request.user.pk %}" class="btn btn-primary">Responder preguntas</a>
					{% elif dominio.pk == 4 %}
						<p class="card-text">SAMPLE TEXT</p>
						<a href="{% url 'analisis_cuatro' request.user.pk %}" class="btn btn-primary">Responder preguntas</a>
					{% elif dominio.pk == 5 %}
						<p class="card-text">SAMPLE TEXT</p>
						<a href="{% url 'analisis_cinco' request.user.pk %}" class="btn btn-primary">Responder preguntas</a>
					{% elif dominio.pk == 6 %}
						<p class="card-text">SAMPLE TEXT</p>
						<a href="{% url 'analisis_seis' request.user.pk %}" class="btn btn-primary">Responder preguntas</a>
					{% elif dominio.pk == 7 %}
						<p class="card-text">SAMPLE TEXT</p>
						<a href="{% url 'analisis_siete' request.user.pk %}" class="btn btn-primary">Responder preguntas</a>
					{% elif dominio.pk == 8 %}
						<p class="card-text">SAMPLE TEXT</p>
						<a href="{% url 'analisis_ocho' request.user.pk %}" class="btn btn-primary">Responder preguntas</a>
					{% elif dominio.pk == 9 %}
						<p class="card-text">SAMPLE TEXT</p>
						<a href="{% url 'analisis_nueve' request.user.pk %}" class="btn btn-primary">Responder preguntas</a>
					{% elif dominio.pk == 10 %}
						<p class="card-text">SAMPLE TEXT</p>
						<a href="{% url 'analisis_diez' request.user.pk %}" class="btn btn-primary">Responder preguntas</a>
					{% else %}
						<p class="card-text">SAMPLE TEXT</p>
						<a href="{% url 'analisis_once' request.user.pk %}" class="btn btn-primary">Responder preguntas</a>
					{% endif %}
				</div>
			</div>
		</div>


	{% endfor %}
		<div class='col-4'></div>
</div>


{% endblock %}