{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
Home
{% endblock %}

{% block navbar %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'analisis' %}">Analisis</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'encuesta' %}">Gráficos</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'recomendaciones' %}">Recomendaciones</a>
</li>
{% endblock %}

{% block content_head %}
<h1>Home</h1>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-home"></i></li>
{% endblock %}

{% block content_body %}
{% endblock %}